/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif; }


@import "../html/index";
@import "../html/footer";
@import "../html/header2";
@import "../html/nosotros";
@import "../html/promociones";
@import "../html/productos";
@import "../html/contactenos";
