@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
$font-titillium: 'Titillium Web', sans-serif;
$color-principal: #ff3535;
$color-secundario: #ffcaca;
$color-header: #50505083;
$color-header2: #080808;
$color-fondo: #000000;
$color-texto-1: #ffffff;
$color-texto-2: #ffd000;