@import "../utilidades/variables";
@import "../utilidades/listas";
@import "../utilidades/mixin";
@import "../utilidades/extend";


.section_2{
    margin: auto;
    padding: 75px 0;
    width: 80%;
    height: 100vh;

    .section_2-title{
        font-family: $font-titillium;
        font-size: 40px;
        color: $color-principal;
        font-weight: bold;
    }

    .us{
        display: flex;
        margin-top: 15px;

        .us-text{
            width: 60%;
            padding-right: 8%;

            .us-paragraph{
                font-family: $font-titillium;
                font-size: 18px;
                color: #1d1c1c;
                text-align: justify;

                .paragraph-text{
                    margin: 20px 0;
                }                
            }

            .us-rs{
                margin: 20px 0;

                .us-rs-title{
                    color: $color-principal;
                    font-size: 24px;
                    margin: 20px 0;
                }

                .rs-icon{
                    margin-top: 10px;

                    .rs-link{
                        margin: 0 10px;
                        text-decoration: none;
                    }
                    
                }
                               
            }
            
        }

        .us-img{
            width: 40%;
            border-radius: 10%;

            .img-img{
                object-fit: cover;
                width: 100%;
                height: 80%;
                border-radius: 10px;
            }
            
        }        
        
    }
        
}

